Package: librodeesher
Version: @version@
Section: Utility
Priority: optional
Architecture: all
Essential: no
Suggest: openjdk-7-jre | sun-java7-jre | openjdk-6-jre | sun-java6-jre 
Installed-Size: 22300000
Maintainer: Jorge Hortelano [softwaremagico@gmail.com]
Replaces: librodeesher
Provides: librodeesher
Description: 
	Player chartset generator for Rolemaster system. 
