<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> 
 
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <property name="format_sql">true</property>
        <!-- <property name="dialect">org.hibernate.dialect.SQLiteDialect</property> 
	<property name="connection.driver_class">org.sqlite.JDBC</property> -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/test-esher</property>
        <property name="connection.username">esher</property>
        <property name="connection.password">esher</property>         
	<property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
         
	<mapping class="com.softwaremagico.librodeesher.pj.CharacterPlayer"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.characteristic.Appearance"></mapping>
	<mapping class="com.softwaremagico.librodeesher.basics.Roll"></mapping>
	<mapping class="com.softwaremagico.librodeesher.basics.RollGroup"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.characteristic.CharacteristicRoll"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.categories.Category"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.categories.CategoryCost"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.categories.ChooseCategoryGroup"></mapping>
	<mapping class="com.softwaremagico.librodeesher.basics.ChooseGroup"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.skills.ChooseSkillGroup"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.culture.CultureDecisions"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.historial.Historial"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.level.LevelUp"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.magic.MagicSpellLists"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.perk.PerkDecision"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.perk.Perk"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.profession.ProfessionDecisions"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.profession.ProfessionalRealmsOfMagicOptions"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.skills.Skill"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.training.TrainingDecision"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.training.TrainingCategory"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.training.TrainingCategoriesSelected"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.training.TrainingSkill"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.training.TrainingSkillList"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.training.TrainingSkillsSelected"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.training.TrainingObject"></mapping>
    </session-factory>
</hibernate-configuration>