<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> 
 
<hibernate-configuration>
    <session-factory>
	<!-- Connection properties -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.use_sql_comments">true</property>
	<property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
	
	<!-- SQLITE -->
        <property name="hibernate.dialect">org.hibernate.dialect.SQLiteDialect</property> 
	<property name="connection.driver_class">org.sqlite.JDBC</property> 
	<property name="hibernate.connection.url">jdbc:sqlite:test-esher.db</property>
	
	<!-- MYSQL -->
	<!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test-esher</property>
        <property name="hibernate.connection.username">esher</property>
        <property name="hibernate.connection.password">esher</property>         -->

	
	 <!-- c3p0 config http://www.hibernate.org/214.html -->
        <!-- <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>        
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">60</property>
        <property name="hibernate.c3p0.min_size">1</property>
        <property name="hibernate.c3p0.max_size">2</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.timeout">0</property>
        <property name="hibernate.c3p0.acquireRetryAttempts">1</property>
        <property name="hibernate.c3p0.acquireRetryDelay">250</property> -->
         
	 <!--  Class mapping -->
	<mapping class="com.softwaremagico.librodeesher.pj.CharacterPlayer"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.characteristic.Appearance"></mapping>
	<mapping class="com.softwaremagico.librodeesher.basics.Roll"></mapping>
	<mapping class="com.softwaremagico.librodeesher.basics.RollGroup"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.characteristic.CharacteristicRoll"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.categories.CategoryCost"></mapping>
	<mapping class="com.softwaremagico.librodeesher.basics.ChooseGroup"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.culture.CultureDecisions"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.historial.Historial"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.level.LevelUp"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.magic.MagicSpellLists"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.perk.PerkDecision"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.perk.SelectedPerk"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.profession.ProfessionDecisions"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.profession.ProfessionalRealmsOfMagicOptions"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.training.TrainingDecision"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.training.TrainingCategory"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.training.TrainingCategoriesSelected"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.training.TrainingSkillList"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.training.TrainingSkillsSelected"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.training.TrainingItem"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.equipment.MagicObject"></mapping>
	<mapping class="com.softwaremagico.librodeesher.pj.equipment.ObjectBonus"></mapping>
    </session-factory>
</hibernate-configuration>