<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="LibroDeEsher">
	<test name="CharacterCrud" enabled="true" preserve-order="true">
		<groups>
			<run>				
				<include name="readFiles" />
				<include name="characterCreation" />
				<include name="characterStorage" />
				<include name="characterPdf" />
				<include name="characterTxt" />
				<include name="characterJson" />
				<include name="NihalDragoniana" />
				<include name="MorticiaInnodanTest" />
				<include name="perkTests" />
				<include name="pulpTests" />
				<include name="config" />
			</run>
		</groups>
		<classes>
			<class name="com.softwaremagico.librodeesher.pj.CharacterCreationTest" />
			<class name="com.softwaremagico.librodeesher.pj.NihalDragonianaTest" />
			<class name="com.softwaremagico.librodeesher.pj.MorticiaInnodanTest" />
			<class name="com.softwaremagico.librodeesher.pj.PerksTests" />
			<class name="com.softwaremagico.librodeesher.pj.ReadFilesTest" />
			<class name="com.softwaremagico.librodeesher.pj.PulpTests" />
			<class name="com.softwaremagico.librodeesher.pj.ConfigTests" />
		</classes>
	</test>
</suite>
