<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="LibroDeEsher">
	<test name="CharacterCrud" enabled="true" preserve-order="true">
		<groups>
			<run>				
				<include name="readFiles" />
				<exclude name="characterCreation" />
				<exclude name="characterStorage" />
				<exclude name="characterPdf" />
				<exclude name="characterTxt" />
				<exclude name="characterJson" />
				<exclude name="NihalDragoniana" />
				<exclude name="MorticiaInnodanTest" />
				<exclude name="perkPoints" />
			</run>
		</groups>
		<classes>
			<class name="com.softwaremagico.librodeesher.pj.CharacterCreationTest" />
			<class name="com.softwaremagico.librodeesher.pj.NihalDragonianaTest" />
			<class name="com.softwaremagico.librodeesher.pj.MorticiaInnodanTest" />
			<class name="com.softwaremagico.librodeesher.pj.PerkPointsPerRaceTest" />
			<class name="com.softwaremagico.librodeesher.pj.ReadFilesTest" />
		</classes>
	</test>
</suite>
