<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" verbose="1" name="LibroDeEsher">
	<test name="CharacterCrud" enabled="true" preserve-order="true">
		<groups>
			<run>				
				<include name="characterCreation" />
				<include name="characterStorage" />
				<include name="characterPdf" />
			</run>
		</groups>
		<classes>
			<class name="com.softwaremagico.librodeesher.pj.CharacterCreationTest" />
		</classes>
	</test>
</suite>
